#bc{
    background-color: lightgreen;
}
.heading_div{
    background-color: black;
    color: white;
}
body{
    background-color: black;
    color: white;
}
.heading
{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}